.movie__list {
  display: flex;
  column-gap: 2rem;
  overflow-x: auto;
  flex-wrap: nowrap;
  width: 90vw;
  align-items: center;
  margin: auto;
}
.movie__list > li {
  width: 20vw;
  text-align: center;
  list-style: none;
}

.moviePoster {
  height: 40vh;
  object-fit: cover;
}

.spinner {
  margin: 30vh;
  text-align: center;
}
