.search {
  display: flex;
  gap: 2rem;
}
.search input {
  width: 30vw;
  padding: 0.5rem 1.5rem;
  border-radius: 6px;
  text-align: center;
}
.search input:focus {
  outline: none !important;
  border: 1px solid #f2efde;
  box-shadow: 0 0 10px #f2efde;
}
.search input::placeholder {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  color: #6e6d67;
  text-align: center;
}
