* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  color: #f2efde;
  background-color: #252525;
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
}

p,
li {
  font-family: "Nunito", sans-serif;
}
button {
  font: inherit;
  cursor: pointer;
  background-color: #f2efde;
  border: 1px solid #f2efde;
  color: #252525;
  padding: 0.5rem 1.5rem;
  border-radius: 6px;
  font-size: 0.9rem;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
}

button:hover,
button:active {
  background-color: #d4d2c4;
  border-color: #d4d2c4;
  box-shadow: 0 0 10px #f2efde;
}
