.header {
  display: flex;
  gap: 3rem;
  list-style: none;
  background-color: #424242;
  height: 100%;
  align-items: center;
  padding: 0 3rem;
}
.header > * {
  display: inline-block;
}
.logo {
  width: 3rem;
  filter: invert(0.9);
}

.hover:hover,
.hover:active {
  box-shadow: 0 0 10px #f2efde;
  color: red;
}
.header > li:nth-child(3) {
  margin-left: auto;
}
