.paginationContainer {
  display: flex;
  list-style: none;
}
.paginationItem {
  text-align: center;
  margin: auto 0.5rem;
  display: flex;
  box-sizing: border-box;
  font-size: 1rem;
  cursor: pointer;
}
.arrow::before {
  position: relative;
  /* top: 3pt; Uncomment this to lower the icons as requested in comments*/
  content: "";
  /* By using an em scale, the arrows will size with the font */
  display: inline-block;
  width: 0.4em;
  height: 0.4em;
  border-right: 0.12em solid rgba(240, 236, 236, 0.87);
  border-top: 0.12em solid rgba(247, 243, 243, 0.87);
}

.arrowLeft {
  transform: rotate(-135deg) translate(-50%);
}
.arrowRight {
  transform: rotate(45deg);
}
